@media(max-width:1200px){
  .app__contents {
    padding-left: 320px;
  }
}

#holder { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #333; }

.container {
  min-height: 100vh;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-right: 1px solid #eee;
  -webkit-box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
}
.menu ul {
  list-style: none;
  padding-left: 0;
}
.menu__item {
  width: 100%;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.menu__item:hover {
  -webkit-box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
}
.menu__button {
  position: relative;
  cursor: pointer;
  padding: 20px;
  width: 100%;
}
.question {
  min-width: 60%;
}
.question__answers {

}
.question__answer {
  font-size: 1.2em;
  margin-left: 15px;
  border: 1px solid #eee;
  width: 100%;
  text-align: left;
  margin: 2px 0;
  padding: 5px 15px;
  transition: 0.3s;
  position: relative;
}
.question__answer:after {
  display: block;
  position: absolute;
  right: -30px;
  top: -3px;
  font-size: 30px;
}
.question__answer:hover {
  -webkit-box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 57px -18px rgba(0,0,0,0.75);
}
.question__answer.correct {
  background-color: green;
  color: #fff;
}
.question__answer.incorrect {
  background-color: red;
  color: #fff;
}
.question__answer.correct:after {
  content: '✓';
  color: green;
}
.question__answer.incorrect:after {
  content: 'X';
  color: red;
}
.question__answer:focus {
  outline: none;
}

.missed-correct {
  background-color: #FADA5E;
  color: green;
}

.page-choose-test {

}
.page-choose-test__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.page-choose-test__item {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.page-choose-test__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.page-choose-test__title {
  margin-bottom: 30px;
}
.page-choose-test__button {
  padding: 0;
}